body{
    margin: auto 10px;
    padding:20px 20px;
    max-width: 500px;
    justify-content: center;
    display:flexbox;
    align-items: center;
}
h1{
    font-size: smaller;
}
h2{
    font-size: small;
}
.first{
    border: 1px solid black;
    width: 50% ;
    max-width: 600px;
    min-width: 200px;
    height: 150px;
    background-image: url(/images/MPB10\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    
}
.second{
    border: 1px solid black;
    width: 30% ;
    height: 200px;
    background-image: url(/images/kiki-falconer-5C1RWEM-h-8-unsplash.jpg);
    background-size:contain;
    background-repeat: round;
    background-position: center;
    filter: brightness(90%) opacity(100%) saturate(150%)  contrast(110%);
    max-width: 500px;
    min-width: 200px;
    
}
.third{
    border: 1px solid black;
    width: 60% ;
    height: 50px;
    background: #FF4E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background-image: linear-gradient(36deg, rgb(255, 0, 0) 0%, rgba(245,44,26,0.9640231092436975) 25%, rgba(234,235,46,1) 46%, rgba(230, 230, 195, 0.031) 99%);;*/
}