:root {
     --h1-size:94px;
     --h1-height:108px;
     --h2-size:50px;
     --h2-height:75px;
     --h3-size:40px;
     --h4-size:32px;
     --h5-size:28px;
     --h6-size:22px;
     --subtittle-size:17px;
     --subtittle-height:24px;
     --p-size:18px;
     --p-height:25px;
     --secondary-text-size:14px;
     --secondary-text-height:18px;
     --btn-size:16px;
     --link-a:0.6rem;
     --body-font:"Roboto",sans-serif;
     --heading-font:"Anek Telugu",sans-serif;

/*spacing*/
    --spacing-vs:3px;
    --spacing-sm:8px;
    --spacing-md:16px;
    --spacing-lg:32px;
    --spacing-xl:64px;
    --spacing-2xl:128px;
    --spacing-3xl:240px;

    --standard-with:1144px;

    --standrad-boxshadow:0px 2px 40px rgb(0, 0, 0, 0.15);

    --width-90:calc(100% - 90%);
    --width-80:calc(100% - 80%);
    --width-60:calc(100% - 60%);
    --width-40:calc(100% - 30%);
    --width-20:calc(100% - 20%);
    --width-10:calc(100% - 10%);

    /*color*/
     --purple-1:#6962f7;
     --purple-2:#7000ff;
     --blue-1:rgb(88, 194, 255);
     --primary-accent:rgb(7, 26, 58);
     --text-dark:black;
     --text-lighter:white;
     --hover-pg-gray:#6d7a88;
     --pg-white:white;
     --pg-light:rgb(222, 223, 224);

     --primary-gradient:linear-gradient(to right,#7000ff, #4776e6, rgb(88, 194, 255));
    }
body{
    width: 100%;
    margin: 0;
    background-color: var(--pg-white);
    color: var(--text-dark);
    font-family: var(--body-font);
    padding: var(--spacing-sm) 0 0 0    ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

}
main{
    width: 100%;
}
h1{
    font-family: var(--heading-font);
    font-weight: 600;
    width: 100%;
    margin: 0;
    font-size: var(--h1-size);
    line-height: var(--h1-height);
    letter-spacing: -1px;
}
h2{
    font-family: var(--heading-font);
    font-weight: 600;
    width: 100%;
    margin: 0;
    font-size: var(--h2-size);
    line-height: var(--h2-height);
    letter-spacing: -0.25px;
}
h3{
    font-family: var(--heading-font);
    font-weight: 600;
    width: 100%;
    margin: 0;
    font-size: var(--h3-size);
}
h4{
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    margin: 0;
    font-size: var(--h4-size);
    letter-spacing: 0.25px;
}
h5{
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    margin: 0;
    font-size: var(--h5-size);
}
h6{
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    margin: 0;
    font-size: var(--h6-size);
}
a{
    color: var(--purple-1);
    font-weight: 500;
     text-decoration: none;
     transition: all 0.50s ease;
}
 a:hover{
    color: var(--primary-accent);
}
p{
    font-size: var(--p-size);
    line-height: var(--p-height);
    font-weight: 400;
    margin: var(--spacing-md) 0;   
}
.secondary-text{
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-height);
    color: var(--hover-pg-gray);
    letter-spacing: 0.25px;
}   
.card{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm ) 0;
}
.card .icon{
    height: 50px;
    width: 50px;
    margin: 0 0 var(--spacing-sm) 0;
}
.card h3{
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    margin: 0;
    font-size: var(--h6-size);
} 

.subtittle,
.subtittle2{
    color: var(--purple-1);
    font-family: var(--heading-font);
    font-size: var(--subtittle-size);
    line-height: var(--subtittle-height);
    font-weight: 500;
}
.subtittle2{
    color: var(--blue-1);
}
.primary-button{
    border-radius: 20px;
    font-size: var(--btn-size);
    border: none;
    background-color: var(--primary-accent);
    font-family: var(--body-font);
    color: var(--text-lighter);
    padding: var(--spacing-sm) var(--spacing-md);
    letter-spacing: 1.25px;
    font-weight: bold;
    transition: all 0.15s ease-in;
}
.primary-button:hover{
    background-color: var(--hover-pg-gray);
    cursor: pointer; 
}
.secondary-button{
    border-radius: 20px;
    font-size: var(--btn-size);
    border: none;
    background-color: transparent;
    font-family: var(--body-font);
    color: var(--primary-accent);  
    letter-spacing: 1.25px;
    font-weight: 600;
    transition: all 0.15s ease-in;
}
.secondary-button:hover{
   
    opacity: 0.75;
    cursor: pointer;
}
.arrowicon{
    display: flex;
    justify-content: center;
    align-items: center;
 
   }
    .arrowicon > img{
        transition: transform 0.25s ease;
    }
    .arrowicon:hover > img{
        transform: translateX(5px);
    }
    

                                        /*navbar*/
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width:var(--standard-with) ;
    padding: 0 var(--spacing-md);
}
.menu{
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    }
.menu a{
    color: var(--text-lighter);
    margin: 0 var(--spacing-md);
}
.menu a:hover{
    text-decoration: underline;
}
.menu ul{
    margin: 16px; 
}
.heading button{
    background-color: transparent;
}

                                        /*mainsection*/

.partner-platform{
    display: flex;
    width: 100%;
    justify-content: center;
}
.mainsection
{
    width: 100%;
    max-width:var(--standard-with) ;
    
    }
.twocolumn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    align-items: flex-start;
}  
.leftcolumn
{
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}
.rightcolumn{
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}
                                                                /*hero content*/
main{
    margin: var(--spacing-xl) 0;
}
.hero{
    display: flex;
    width: 100%;
    justify-content: center;
}
.button-row{
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-md);
 }
 .button-row button:nth-of-type(2){
    margin-left:  var(--spacing-md);   
    color: var(--purple-2);
}
.hero p{
    margin-top: var(--spacing-md);
    max-width: 480px;
}
.phone-continer{
    height: 564px;
    align-items: end;
    
}
.phone-continer .phone{
    height: 620px;
    transform: translate(44px, -32px );
}

                                       /*partnre-continer*/
.partner-continer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.logo-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: var(--spacing-xl) 0;
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-lg);
}
.logo-box img{
    width: 80%;
    filter: brightness(105%) contrast(108%);
    place-self: center;
}

.partner-platform{
    padding: var(--spacing-xl) 0;
      
}
.bluebutton{
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0;
}
.bluebutton:hover{
    background-color: var(--primary-accent);
}
.heading3{
    width: 50% ;
    margin: var(--spacing-md) 0;
}

                                        /*middle img section*/
.grid-section{
    display: flex;
    width: 100%;
    justify-content: center;
}
#credit{
    grid-area: credit;
    width: 100%;
    box-shadow: var(--standrad-boxshadow);
    border-radius: 20px;
}                    
#slack{
    grid-area: slack;
    width: 100%;
    box-shadow: var(--standrad-boxshadow);
    border-radius: 20px;
}                  
#phone{
    grid-area: phone;
    width: 100%;
    box-shadow: var(--standrad-boxshadow);
    border-radius: 20px;
}
#dash{
    grid-area: dash;
    width: 100%;
    box-shadow: var(--standrad-boxshadow);
    border-radius: 20px;
}
.gridimages{
    display: grid;
    gap: var(--spacing-lg);
    padding: var(--spacing-xl ) 0;
    grid-template-areas:
    ' credit slack slack'
    'phone slack slack'     
    'phone dash dash'
    'phone dash dash'                  ;
    }

                                      /*INTEGERATION-SECTION*/
.integeration-section {
    color: var(--text-lighter);
    background-color:var(--primary-accent);
    display: flex;
    width: 100%;
    justify-content: center;
}
.integeration-section .card-continer{
    display: flex;
    margin-top: var(--spacing-lg);
}
.integeration-section .card{
    width: 50%;
}
.integeration-section .primary-button{
    background-color: var(--blue-1);
    color: var(--primary-accent);
    margin-top: var(--spacing-md);
}
.integeration-section .primary-button:hover{
    background-color: var(--pg-white);
}
.integeration-section .secondary-button{
    color: var(--blue-1);
    padding-left: var(--spacing-sm);
}
#codeimg{
    max-width: 470px;
    margin-bottom: var(--spacing-md) ;
    border-radius: 20px;
}
#terminal{
    max-width: 470px; 
    border-radius: 20px;
}

                                        /*swaping-section*/
.swaping-section{
    width: 100%;
    padding: calc(var(--spacing-xl)*3) 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.swaping-section .cardcontiner2{
    display: flex;
    margin-top: var(--spacing-lg);
}
.cardcontiner2 .card{
    width: 25%;
    padding: 0 var(--spacing-md) 0 0;
    margin: 0 var(--spacing-md) 0 0;
    box-sizing: border-box;
}
.swaping-section .secondary-text{
    color: var(--text-dark);
}

                                               /*global*/
#global{
    max-width: calc(var(--spacing-2xl) *6.6);
    opacity: 25%;
    position: absolute;
    top: 1%;
    
}
.global-section{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--primary-accent);
    color: var(--text-lighter);
    position: relative;
    padding: calc(var(--spacing-xl) *2) 0;

}
.global-section .cardcontiner{
     display: flex;
    margin: var(--spacing-2xl) 0;
}
.cardcontiner .card{
    width: 25%;
     padding: 0 var(--spacing-md) 0 0;
    margin: 0 var(--spacing-md) 0 0;
    box-sizing: border-box;
}
.global-section .cardcontiner .card h3{
    border-left: 2px solid var(--blue-1);
    padding-left: var(--spacing-sm);
    line-height: 28px;

}
.global-section a{
     color: var(--blue-1);
}
.global-section a:hover{
    color: var(--text-lighter);
}
.main{
    background-color: #0a2540;
}

                                          /*virtual section*/

.virtual-continer{
    display: flex;
   justify-content: center;
   padding-top: calc(var(--spacing-xl) *3);
}
.virtual-continer .primary-button{
    background-color: var(--purple-1);
    color: var(--text-lighter);
    margin-top: var(--spacing-md);
}
.virtual-continer .primary-button:hover{
    background-color: var(--primary-accent);
}
.virtual-continer .leftcolumn{
height: 440px;
padding-right: var(--spacing-xl);
}
.swipecard{
    width: 570px;
    height: 440px;
    box-shadow: var(--standrad-boxshadow);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.swipecard .cardtop{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.swipecard .cardtop::before{
    content: "";
    width: 100%;
    height: 150%;
    background:var(--primary-gradient);
    position: absolute;
    top: -100px;
    transform: skewY(-5deg);
    z-index: 2;
    
}
#swipe{
    width: 338px;
    height: 50px;
    z-index: 3;
}
.swipecard .middle{
    position: relative;
    top: -16px;
    z-index: 3;
}
.swipecard .middle img{
    width: 75px;
    position: absolute;
    left: 8%;
}
.swipecard .middle img:nth-child(2){
    position: absolute;
    left: 100px;
    top: -1px;
}
.swipecard .cardbottom{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: var(--spacing-xl);
}
.swipecard .cardbottom .subtittle{
    margin-top: var(--spacing-lg);
}
.swipecard .cardbottom p:nth-child(2){
    width: 50%;
    color: var(--text-dark);
    font-weight: 600;
}

                                    /*getting-started-section*/




