

body{
    background-image: url(assets1/pic06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
   z-index: -1;
}
                                    /*navbar*/
.navbar{
    position: fixed;
    top: 0.5;
    width: 100%;
    left: 0.5;
    display: flex;
    background-color: #3c4042;
    justify-content: space-around;
    z-index: 1;
}
.navbar p{
    margin-right: 1rem;
    display: inline-block;
    line-height: 2.2rem;
    height: 1rem;
}
.navbar  span{
    font-size: 1.3rem; 
    color: white;
    font-weight: 600;
}
.navbar .nav-left .btn-secondary a{
    text-decoration: none;
    color: white;
}
.navbar .nav-left .btn-secondary{
    padding: 0.2rem 0.9rem;
    font-weight: 500;
    font-size: 0.9rem;
    word-spacing: 2.5rem;
  
    line-height: 2.2rem;
}
.navbar .nav-left .btn-secondary:hover{
    background-color: #3c4042 ;
}
.navbar .exiticon{
    margin-left: 20px;
    
}
.navbar .exiticon:hover{
    color: rgb(198, 40, 40);
    border-color: rgb(175, 44, 44);
    box-shadow:  0px 0px 3px 0px #f8f6f6;
}
.navbar .nav-right .likethums{
    background-color: rgb(34, 130, 240);
    font-size: 0.8rem;
    padding: 3px  8px;
    font-weight: 500;
    border-radius: 3px;
    letter-spacing: 0.1rem;
    width: 5rem;
} 
.navbar .nav-right .likethums  svg {
    width: 16px;
    float: left;
    padding: auto 20px;
    
}
.navbar .nav-right{
    margin: auto 20px;
}



                        /*hero*/
.hero{
   
    width: 100%;
    height: 100%;
    filter: contrast(106%) brightness(102%);
    
}

.massive-css{
    word-spacing: 2rem;
    color: rgb(255, 255, 255);
    text-shadow:0 0 3px rgb(59, 54, 109);
    padding: 4rem 4rem 6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
}
h1{
    margin: 0 0 50px 0;
    font-weight: 900;
    letter-spacing: 4px;
}
.massive-css p {
    font-style: italic;
    word-spacing: 0.3rem;
    line-height: 3rem;
    font-size: 25px;
    font-weight: 400;
    padding: 25px;
    text-align: center;
}
.massive-css p a{
    color: white;
    text-decoration:dotted;
}
.massive-css .downarrow svg {
    width: 100px;
    height: 100px;
    color: white;
}
.massive-css .downarrow svg:hover {
    color: rgb(25, 185, 248);
}
                                          /*main-container*/

.main-container {
    background-color: rgb(226, 222, 222);
    z-index: 1;
    margin: 5rem;
   
}
.continer-massive{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
    padding: 100px;
}
.continer-massive-date{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
}
.continer-massive h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;

}
.continer-massive hr{
    width: 300px;
    margin: 0 2rem;
}
.continer-massive h1{
    margin: 4rem 0 1rem 0 ;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 5rem;
    letter-spacing: 3.6px; 
}
.continer-massive h1:hover{
    color: rgb(12, 163, 223);
}
.continer-massive p{
    font-size: 1.1rem;
    font-weight: 400;
    padding: 30px 160px;
    word-spacing: 0.5rem;
    font-style: italic;
    line-height: 2.5rem;
}
.continer-massive .image-galery {
    overflow: hidden;
   
}
.continer-massive .image-galery img{
    width: 100%;
    transition: transform 0.3s ease-out;
    }
.continer-massive .image-galery img:hover{
    transform: scale(1.05);
}
.continer-massive .massive-button{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-top: 5rem;
    padding: 20px 60px;
    color: rgb(32, 116, 32);
   }
.continer-massive .massive-button:hover{
      color: white;
      border-color: aliceblue;
}
                                /*main container block*/

.main-container-block .row {
   width: 100%;
 
}
.main-container-block .row .col {
    width: 50%;
    min-width: 50%;
    padding: 30px;
    border: 0.2px solid rgb(214, 213, 213);
}

.main-container-block{
    display:flex;
    margin: 0 ;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
}
.main-container-block h4{
    font-size: 1rem;
    margin-top:2rem ;
    font-weight: 400;
}
.main-container-block hr{
   display: none;
}
.main-container-block h1{
    margin: 1rem 0 3rem 0 ;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: 2px; 
}
.main-container-block h1:hover{
    color: rgb(12, 163, 223);
}
.main-container-block p{
    font-size: 1.1rem;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 0.5rem;
    margin: 2rem auto;
    line-height: 2.4rem;
    text-align: start;
}
.main-container-block .col .main-image-galery{
    overflow: hidden;
}
.main-container-block .col .main-image-galery img{
    width: 100%;
    transition: transform 0.3s ease-out;
    }
.main-container-block .main-image-galery img:hover{
    transform: scale(1.05);
}
.main-container-block .massive-button{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: rem;
    padding: 20px 40px;
    color: rgb(32, 116, 32);
   }
   .main-container-block .massive-button:hover{
      color: white;
      border-color: aliceblue;
}
                                        /*button toolbar section*/

.button-section{
    padding: 70px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.button-section .toolbar-button .btn{
    border-radius: 0;
    border: 1.5px solid rgb(182, 179, 179);
    font-size: 0.8rem;
    padding: 15px 20px;
    font-weight: 700;
    text-align: center;
    color: black;
}
.button-section .toolbar-button .btn:hover{
    color:rgb(20, 105, 233) ;
    border: 2px solid rgb(20, 105, 233);
    background-color:white;
}
.button-section .toolbar-button .btn:focus{
    background-color: rgb(182, 179, 179);
    box-shadow: none;
}
.button-section .toolbar-button .btn svg{
    height: 10px;
    font-weight:900;

}